<section class="flex flex-col">
<!--  <h1 class="mb-4 home__title">{{title}}</h1>-->
  <section class="px-6 pt-8 pb-4 pl-6 shadow-md mb-10 text-center border-2 border-black">
    <p class="text-[34px] uppercase leading-[1.3]">"No problem can be solved from the same level of consciousness that created it."</p>
    <div class="flex items-center justify-center mb-4">
<!--      <img src="" alt="" class="w-10 h-10 shadow-md rounded-full mr-4 bg-gray">-->
      <div class="text-md">Albert Einstein</div>
    </div>
  </section>
  <section class="flex justify-between my-4">
    <span class="mr-4 flex items-center">Keywords: </span>
    <ul class="flex justify-between">
      <li class="px-4 py-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Keyword</li>
      <li class="px-4 py-2 mr-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Keyword</li>
      <li class="px-4 py-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Keyword</li>
      <li class="px-4 py-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Keyword</li>
      <li class="px-4 py-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Keyword</li>
    </ul>
    <a href="#" class="flex items-center">More >></a>
  </section>
  <section class="flex justify-between">
    <span class="mr-4 flex items-center">Authors: </span>
    <ul class="flex justify-between">
      <li class="px-4 py-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Author</li>
      <li class="px-4 py-2 mr-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Author</li>
      <li class="px-4 py-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Author</li>
      <li class="px-4 py-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Author</li>
      <li class="px-4 py-2 mr-2 h-auto shadow-md flex rounded-xl hover:shadow-lg">Author</li>
    </ul>
    <a href="#" class="flex items-center">More >></a>
  </section>

</section>
