<section class="flex flex-col">
  <ng-container *ngIf="quotes?.length ; else nothing">
    <app-random-quote
      [randomQuote]="randomQuote"
      (randomQuoteNext)="randomQuoteNext()"
    ></app-random-quote>
    <app-authors [authors]="authors" (addValueToFilter)="addValueToFilter($event)"></app-authors>
    <app-quotes
      [quotes]="!quotesFiltered.length ? quotes : quotesFiltered"
      [quotesPerPage]="quotesPerPage"
      [pagesArray]="pagesArray"
      (activePageDetect)="activePageDetect($event)"
      [activePage]="activePage"
    >
    </app-quotes>
  </ng-container>
  <ng-template #nothing>
    <p class="text-lg">Sorry, no quotes today...</p>
  </ng-template>
</section>

