<section class="py-10">
  <ul class="flex w-full flex-wrap justify-between">
    <li *ngFor="let quote of quotes | slice: 0:quotesPerPage" class="w-[32%] p-6 mb-4 border-t-4 border-black shadow-lg">
      <div class="flex flex-col justify-between h-full">
        <p class="text-2xl mb-6">{{quote.text}}</p>
        <p class="text-gray-600">{{quote?.author ?? "Unknown"}}</p>
      </div>
    </li>
  </ul>

  <div class="flex w-full justify-center mt-6 text-gray-400">
    <ul *ngIf="pagesArray.length" class="flex">
      <li *ngFor="let page of pagesArray" class="p-2 mx-1 border-1 border-black rounded-br-full">
        <button type="button" class="hover:">{{page + 1}}</button>
      </li>
    </ul>
  </div>
</section>
