<section class="flex flex-col">
  <app-random-quote
    [randomQuote]="randomQuote"
    (randomQuoteNext)="randomQuoteNext()"
  ></app-random-quote>
  <app-authors [authors]="authors" (addValueToFilter)="addValueToFilter($event)"> </app-authors>
  <app-quotes
    [quotes]="!quotesFiltered.length ? quotes : quotesFiltered"
    [quotesPerPage]="quotesPerPage"
    [pagesArray]="pagesArray"
    (activePageDetect)="activePageDetect($event)"
    [activePage]="activePage"
  >
  </app-quotes>
</section>
